@{
    ViewData["Title"] = "Calendario";
}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="~/css/calendario.css">
  <script src="~/js/calendario.js" defer></script>
</head>

<div class="calendar" id="calendar">
  <div class="day-label">Sun</div>
  <div class="day-label">Mon</div>
  <div class="day-label">Tue</div>
  <div class="day-label">Wed</div>
  <div class="day-label">Thu</div>
  <div class="day-label">Fri</div>
  <div class="day-label">Sat</div>
</div>

<div type="hidden" id="IdUsuario" value="@ViewBag.Usuario.IdUsuario"></div>
<div class="calendar" id="calendar"></div>

<div class="modal" id="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Tasks for Day <span id="modalDay"></span></h2>
    <ul id="taskList"></ul>
</div>
