@{
    ViewData["Title"] = "Home";
} 
<br>

        @foreach(var item in ViewBag.Tareas){ 
            <div class="card"> 
            <div class="header"> 
                <h2>@item.Nombre</h2>
                <div class="tag"></div>
            </div>
            <p>@item.Descripcion</p>
            <button class="complete-button" onclick="markAsCompleted()">Marcar como completado</button>
        </div>
        }
        <div class="buttonAdd">
            <button class="complete-button" onclick="NuevaTarea()">Agregar Tarea</button>
        </div> 
    <script src="script.js"></script>
</html>