@{
    ViewData["Title"] = "Index";
}
<form Action='@Url.Action("Login","Home")'>
<div class="bloque1">
    <div class="Titulo">
        INICIA SESION
    </div>
    <div class="Usuario">
        <h2>Usuario</h2>
        <input type="text" class="inputlogin"></input>
    </div>
    <div class="Contraseña">
        <h2>Contraseña</h2>
        <input type="text" class="inputlogin"></input>
    </div>
    <button class="inicio"></button>
</div>
<div class="bloque2">
    <img class="imagen"></img>
    <h4></h4>
</div>
</form>