@{
    ViewData["Title"] = "Notificaciones";
}
<head>
</head>
<body>
  <div class="card-notificacion">
  @if(ViewBag.Tareas==null)
  {
    <p>"No tiene notificaciones"</p>
  }
  else
  {
    @foreach (Tareas i in ViewBag.Tareas)
    {
      @if(DateTime.Now.ToShortDateString() == @i.FechaRealizacion.ToShortDateString())
      {
        <h5 class="nombre-tarea">@i.Nombre</h5>
        <p class="descripcion-tarea">@i.Descripcion</p>
        @foreach (Categorias a in ViewBag.Categoria)
        {
        @if (i.IdCategoria == a.IdCategoria)
          {
            <p class="nombre-categoria">@a.Nombre</p>
          }
        }
      } 
    }
  }
  </div>
</body>