<head>
@{
    ViewData["Title"] = "Notificaciones";
}
<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="" alt="Bootstrap" width="30" height="24">
    </a>
  </div>
</nav>
</head>

<body>
@foreach (Tareas i in ViewBag.Tareas)
{
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@i.Nombre</h5>
        <p class="card-text">@i.Descripcion</p>
        @foreach (Categorias a in ViewBag.Categoria)
        {
            <p>@a.Nombre</p>
        }
    </div>
</div>
}
</body>