@{
    ViewData["Title"] = "Notificaciones";
}
<head>
</head>
<body>
  @if(ViewBag.Tareas==null)
  {
    <p>"No tiene notificaciones de tareas del día de hoy"</p>
  }
  else
  {
  <div class="notificacioness">
    @foreach (Tareas i in ViewBag.Tareas)
    {
      @if(DateTime.Now.ToShortDateString() == @i.FechaRealizacion.ToShortDateString())
      {
      <div class="carddd">
          <h5 class="carddd-tarea">¡Acordate de hacer la tarea @i.Nombre!</h5>
          <p class="carddd-tarea">Que trata sobre...@i.Descripcion</p>
        @foreach (Categorias a in ViewBag.Categoria)
        {
          @if (i.IdCategoria == a.IdCategoria)
          {
          <p class="carddd-tarea">Es de la categoría @a.Nombre</p>
          }
        }
      <p class="carddd-tarea">Y lo tenes que tener listo para el @i.FechaRealizacion.ToShortDateString()</p>
      </div>
      }
    }
    </div>
  }
</body>
