@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="site.css">
  <title>Card</title>
</head>
</html>
<body>
<p>Estas son tus tareas de<div id="resultadoFiltro"></div></p>
 <div id="filterOptions" class="horizontal-options">
        <span class="filter-option" data-value="dia">l Día</span>
        <span class="filter-option" data-value="semana"> la Semana</span>
        <span class="filter-option" data-value="mes">l Mes</span>
    </div>
            @foreach(var item in ViewBag.Tareas){
 <div class="card">
            <div class="header">
                <h2>Tarea de programación</h2>
                <div class="tag">Colegio</div>
            </div>
            <p>@ViewBag.Tareas.Descripcion</p>
            <button class="complete-button" onclick="markAsCompleted()">Marcar como completado</button>
        </div>
            }
</body>

<button id="nuevaTareaButton">Nueva tarea</button>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 style="color: #051439;">Nueva Tarea</h2>
            <form id="tareaForm">
                <label for="nombreTarea" style="color: #051439;">Nombre de la tarea:</label>
                <input type="text" id="nombreTarea" required> <br><br>

                <label for="categoria" style="color: #051439;">Categoría:</label>
                <input type="text" id="categoria"> <br><br>

                <label for="descripcion" style="color: #051439;">Descripción:</label>
                <textarea id="descripcion"></textarea> <br><br>

                <label for="fechaHora" style="color: #051439;">Día y hora:</label>
                <input type="datetime-local" id="fechaHora"> <br><br>

                <button type="submit" style="background-color: #2980b9; color: #fff;">Agregar tarea</button>
            </form>
        </div>
    </div>
  