@{
    ViewData["Title"] = "Tareas";
}
<body>
<p>Estas son tus tareas de<div id="resultadoFiltro"></div></p>
 <div id="filterOptions" class="horizontal-options">
        <span class="filter-option" data-value="dia">Día</span>
        <span class="filter-option" data-value="semana">Semana</span>
        <span class="filter-option" data-value="mes">Mes</span>
</div>
<!-- -->
 <div class="content-container">
        @foreach(var item in ViewBag.Tareas)
        {
            <div class="cardd">
                <div class="header">
                    <h2>@item.Nombre</h2>
                    @foreach (Categorias a in ViewBag.Categoria)
                    {
                        @if (item.IdCategoria == a.IdCategoria)
                        {
                            <div class="tag">@a.Nombre</div>
                        }
                    }
                </div>
                <p>@item.Descripcion</p>
                <button class="complete-button" onclick="markAsCompleted()">Marcar como completado</button>
            </div>
        }
    </div>
<button type="button" class="botonn" data-bs-toggle="modal" data-bs-target="#ModalAgregarTarea">Nueva tarea</button>
</body>
<div class="modal fade" id="ModalAgregarTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form Action='@Url.Action("AgregarTarea","Home")'>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de realizacion</label>
            <input type="date" class="form-control" name="FechaRealizacion" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Envíar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>