.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: calc(100% - 200px); /* Reducir el ancho en 200px (100px a cada lado) */
  margin: 0 auto; /* Centrar el calendario */
  transform: scale(0.8); /* Escalar el calendario al 80% */
}

.day-label {
  text-align: center;
  padding: 10px;
}

.day {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box; /* Incluir el padding en el tamaño */
  width: 240px; /* Ajustar el tamaño de las celdas */
  height: 200px; /* Altura fija para cada día */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Centrar y escalar el modal al 80% */
  width: 80%; /* Ancho del modal */
  max-width: 400px; /* Ancho máximo del modal */
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}


.task {
  background-color: #ffcccc; /* Color de tarea */
}



.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
